<h1>Birds</h1>

<ul>
<% @birds.each do |bird| %>
    <li><%= bird.name %> - <%= bird.species %></li>
<% end %>
</ul>

<!-- We fixed the nokogiri not installing by running uninstalling nokogir then xcode-select --install then reinstalling nokogiri -->